@charset "UTF-8";

#header{
	background: red;
	height: 70px;
}

.content-container{
	margin: auto;
	min-height: inherit;
	height: 100%;
	width: 960px;
	background: gray;
}

#visual{
	background: rgba(255, 255, 0, 0.2);
	height: 171px;
}
/* -----body style----------------------------------------------------------- */
#body{
	background: blue;
	min-height: 300px;
	
}

	#aside{
		float: left;
		min-height: inherit;
		width: 205px;
		background: red;
	}
	
	#main{
		float: left;
		min-height: inherit;
		width: 755px;
		background: yellow;
	}
	
	#body::after {
    content: "";
    clear: left;
    display: block;
/*     clear: both;
    display: table; */
	}
	

/* -----footer style----------------------------------------------------------- */
#footer{
	background: black;
	height: 100px;
}

