@charset "UTF-8";

#header{
	background: red;
	height: 70px;
}

#content-container{
	height: 100%;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background: gray;
}

#visual{
	background: rgba(255, 255, 0, 0.2);
	height: 171px;
}

#body{
	background: blue;
	min-height: 300px;
	
}

#footer{
	background: black;
	height: 100px;
}